<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

<div class="wrapper">
  <main>
    <div class="project">
      <p class="title">
        {{ organization }}/<span class="project-name">{{ project }}</span>
      </p>
      <p class="description">
        {{ description }}
      </p>
    </div>
    <div class="pic">
      <img src="{{ imageUrl }}" />
    </div>
  </main>

  <div class="secondary">
    <div class="metrics">
      <div class="metric">
        <img src="./people-24.svg" />
        <div>
          <p class="metric-data">{{ contributors }}</p>
          <p class="metric-label">Contributors</p>
        </div>
      </div>

      <div class="metric">
        <img src="./issue-opened-24.svg" />
        <div>
          <p class="metric-data">{{ issues }}</p>
          <p class="metric-label">Issues</p>
        </div>
      </div>

      <div class="metric">
        <img src="./comment-discussion-24.svg" />
        <div>
          <p class="metric-data">{{ discussions }}</p>
          <p class="metric-label">Discussions</p>
        </div>
      </div>

      <div class="metric">
        <img src="./star-24.svg" />
        <div>
          <p class="metric-data">{{ stars }}</p>
          <p class="metric-label">Stars</p>
        </div>
      </div>

      <div class="metric">
        <img src="./repo-forked-24.svg" />
        <div>
          <p class="metric-data">{{ forks }}</p>
          <p class="metric-label">Forks</p>
        </div>
      </div>
    </div>
    <div class="github-logo">
      <img src="./mark-github-16.svg" />
    </div>
  </div>

  <div class="techs"></div>
</div>
